.footer {
  background-color: $second-bg-color;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container--footer-socials {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.footer__address {
  @media screen and (max-width: 767px) {
    width: 100%;
    text-align: center;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 50%;
    text-align: center;
    margin-right: auto;
  }
}

.footer__join {
  @media screen and (max-width: 767px) {
    width: 100%;
    text-align: center;
    margin-top: 60px;
  }
}

.footer__join-title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white-text-color;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 50%;
    text-align: center;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }
}

.footer__form {
  display: flex;
  @media screen and (max-width: 1199px) {
    flex-direction: column;
    align-items: center;
  }
}

.footer__form-input {
  position: relative;
  width: 100%;
  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 12px;
  }
}

.footer__studio {
  color: $white-text-color;
}

.footer__location {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 9px;
  color: $white-text-color;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer__item {
  margin-bottom: 9px;
}

.footer__contacts {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: color $transition-animation;
}

.footer__contacts:hover,
.footer__contacts:focus,
.contacts__link:hover,
.contacts__link:focus {
  color: $accent-text-color;
}

.footer__soc-list {
  display: flex;
  // margin-right: 93px;
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
    justify-content: center;
  }
}

.footer__soc-item + .footer__soc-item {
  margin-left: 10px;
}

.footer__soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition: color $transition-animation, background-color $transition-animation;

  &:hover {
    background-color: $accent-text-color;
    fill: $white-text-color;
  }
}

.footer__soc-icon {
  width: 20px;
  height: 20px;
  fill: $white-text-color;
}
